<a href="/music/<%=mood%>">Music</a>
<a href="/journal">Read Your Journal</a>
<a href="/journal/new">Write in Your Journal</a>
<a href="/video/<%=mood%>">Video</a>
<a href="/help">HELP</a>
<a href="/workout">Workout</a>
<a href="/funny">Funny</a>